@import "functions";


$dark : #000000;
$brand: #0ABAB5;
$white: #ffffff;

$red: #C31631;

$transition: 0.25s  ease-in-out;

$scrollbar-default: #F2F3F5;
$scrollbar-hover: #D1D6DC;
$scrollbar-active: #B9BFC8;
